button {
    width: 70%;
    height: 230px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top:5%;
    margin-bottom: 5%;
    background-color: #46b1c9;
    color: white;
    font-size: 3em;
    border-radius: 20px;
}

#homeContent {
    padding-top: 30px;
    text-align: center;
}

body {
    /* background-color: #9fb7b9; */
}

#pay-icon{
    font-size: 55px;
}

#payBtn{
    padding-top: 0px;
    height: 50%;
}

#refundBtn{
    padding-top:0px;
    height: 30%;
}

/*
46b1c9
84c0c6
9fb7b9
bcc1ba
f2e2d2 */