/*
46b1c9
84c0c6
9fb7b9
bcc1ba
f2e2d2 */

#currentTime {
    float: right;
    font-size: 2em;
}

#backButton {
    background-color: #46b1c9;
    color: white;
    border-radius: 10px;
    font-size: 3em;
    padding-left: 2.5%;
    padding-right: 2.5%;
}

#content, #demo {
    text-align: center;
    margin: auto;
}

#timeLabel {
    font-weight: bold;
    font-size: 2em;
}

#hours {
    font-size: 2em;
}   

#minutes {
    font-size: 2em;
}

label {
    font-size: 2em; 
}

#expiryDate, #ddSpots {
    font-size: 2em;
}

#phoneNumberInput {
    margin: 15px;
    text-align: center;
    font-size: 2em;
}

#numberPad button {
    font-size: 1.8em;
    padding: 5px 15px;
    margin: 2px;
}

#nextButton {
    height: 150px;
    border-radius: 20px;
    background-color: #46b1c9;
    width: 400px;;
    color: white;
    font-size: 2.5em;
}

.phoneInput {
    width: 100px;
}

.smallButton {
    height: 75px;
    border-radius: 20px;
    background-color: #46b1c9;
    width: 200px;;
    color: white;
    font-size: 2em;
}

#price {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 2em;
}

#parkingSpotPrice, #electricCost{
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 2em;
}

#continueToPayButton {
    position: absolute;
    bottom: 30px;
    right: 170px;
    height: 200px;
    border-radius: 20px;
    background-color: #46b1c9;
    width: 200px;;
    color: white;
    font-size: 2.5em;
}

#continueToPayButton:disabled {
    background-color: grey;
}

#numberPad {
    position: absolute;
    bottom: 10px;
    right: 400px;   
}