/*
46b1c9
84c0c6
9fb7b9
bcc1ba
f2e2d2 */

#currentTime {
    float: right;
    font-size: 2em;
    margin-right: 10px;
}

#backButton {
    background-color: #46b1c9;
    color: white;
    border-radius: 10px;
    font-size: 2em;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 3.5%;
    padding-right: 3.5%;
}

#content, #demo, #parkingTimeContent {
    text-align: center;
    margin: auto;
}

#timeLabel {
    font-weight: bold;
    font-size: 2em;
}

#hours, #minutes, #ddSpots {
    font-size: 2em;
    width: 100px;
    text-align: center;
    padding: 10px;
}   

#minutes {
    font-size: 2em;
}

label {
    font-size: 2em; 
    padding-left: 10px;
    padding-right: 10px;
}

#expiryDate, #ddSpots {
    font-size: 2em;
}

#phoneNumberInput {
    margin: 15px;
    text-align: center;
    font-size: 2em;
}

#numberPad button {
    font-size: 1.8em;
    padding: 5px 15px;
    margin: 2px;
}

#nextButton {
    height: 150px;
    border-radius: 20px;
    background-color: #46b1c9;
    width: 400px;;
    color: white;
    font-size: 2.5em;
    position: absolute;
    bottom: 10;
    left: 200px;;
}

.phoneInput {
    width: 100px;
}

.smallButton {
    height: 75px;
    border-radius: 20px;
    background-color: #46b1c9;
    width: 250px;
    color: white;
    font-size: 2em;
    margin: 10px;
    padding: 5px;
}

#price {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 2em;
    margin-right: 20px;
}

#parkingSpotPrice, #electricCost{
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 2em;
}

#continueToPayButton {
    position: absolute;
    bottom: 15px;
    right: 170px;
    height: 200px;
    border-radius: 20px;
    background-color: #46b1c9;
    width: 200px;;
    color: white;
    font-size: 2.5em;
}

#continueToPayButton:disabled {
    background-color: grey;
}

#numberPad {
    position: absolute;
    bottom: 10px;
    right: 400px;   
    margin-right: 10px;
}

#ElectricTable {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 85%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
}

#ElectricTable td, #ElectricTable th {
    border: 1px solid #ddd;
    padding: 8px;
}

#ElectricTable td:nth-child(3){
    text-align: center;
}

#ElectricTable tr:nth-child(even){background-color: #f2f2f2;}

#ElectricTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #84c0c6;
    color: white;
}

.electric{
    width: 30px;
    height: 30px;
}

#costTable {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 85%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
}

#costTable td, #costTable th {
    border: 1px solid #ddd;
    padding: 5px;
}

#costTable td:nth-child(3){
    text-align: center;
}

#costTable tr:nth-child(even){background-color: #f2f2f2;}

#costTable th {
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: left;
    background-color: #84c0c6;
    color: white;
}

.electric{
    width: 30px;
    height: 30px;
}

#bolt{
    font-size: 15px;
}

#pay-icon{
    font-size: 100px;
}

#creditCardNumbers {
    font-size: 2.2em;
}

#RefundTable {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 85%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
}

#RefundTable td, #RefundTable th {
    border: 1px solid #ddd;
    padding: 8px;
}

#RefundTable tr:nth-child(even){background-color: #f2f2f2;}

#RefundTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #84c0c6;
    color: white;
}

#insertTicketArrow {
    position: absolute;
    top: 45;
    right: 0;
}